src/tmp/downstream.log
tmp/*
.DS_Store
src/.DS_Store
src/upstream/tmp/upstream.log
src/downstream/testdata/
target/
certs/tmp/
**/*/.$*
*.log
plan/

# Build system
.build-number-incremented
**/pom.xml.versionsBackup
src/version/version.go
